.user_wrap {
    width: 700px;
    height: fit-content;
    margin: 40px 0px 0px 500px;
    padding: 20px;
    border: 1px solid #ededed;
    border-radius: 10px;
    background: #fff;
}

.user_photo_wrap,
.user_name_wrap {
    padding: 20px;
}

.user_photo {
    width: 128px;
    height: 128px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid #ededed;
}

.user_profile_wrap {
    display: flex;
}

.user_name {
    font-size: 20px;
    font-family: var(--font-pretendard-bold);
}

.user_uid {
    display: block;
    font-family: var(--font-pretendard-light);
    color: #272D2D;
    margin-top: 4px;
}